*{
    margin: 0;
    padding: 0;
    font-family: "Nurito" , sans-serif;
}
.background{
    background-image: url(pexels-roberto-shumski-1903702.jpg) ;
    height: 1000px;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.appCover{
   width: 45%;
    height: 50%;
    background-color: rgba(17, 2, 2, 0.6);
    margin-top: 12%;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
        box-shadow: 0 0 10px rgba(30, 146, 136, 1)  , 0 0 20px rgba(30, 146, 136, 1) , 0 0 40px rgba(30, 146, 136, 1);
    
}
.btns{
    display: flex;
    justify-content: center;
}
.btns button{
    padding: 1.3% 1%;
    border-radius: 13px;
    outline: none;
    margin-right: 2%;
    background-color: rgba(30, 146, 136, 0.6);
    cursor: pointer;
    border: 1px solid black;
    transition: 200ms ease-in-out;
}
.btns button:hover{
    background-color: rgba(30, 146, 136, 1);
    box-shadow: 0 0 10px rgba(30, 146, 136, 1)  , 0 0 20px rgba(30, 146, 136, 1) , 0 0 40px rgba(30, 146, 136, 1);
}
.display{
    width: 90%;
    background-color: white;
    height: 60%;
    margin-left: 3%;
    padding-left: 2%;
    margin-top:6%;
    padding-top: 5%;
    border-radius: 13px;
    padding-right: 2%;
}
.display h1 {
    font-size: 180%;
    text-align: center;
}
.display ul {
    margin-left: 20%;
}
@media (max-width:832px){
    .appCover{
        width: 80%;
    }
}
@media (max-width:375px){
    .appCover{
        width: 95%;
    }
}